extends layout

block content
    h4 Votre voiture arrivera à
    .ui.input.fluid
        input(type='text' placeholder='Position de départ' readonly)

    h4
        span= 'dans  '
        div.ui.button.basic 5
        span= '  minutes'

    open-map

    br
    br

    .ui.buttons.fluid
        a.ui.button(href='index.pug') Retour à l'acceuil
        .or(data-text='ou')
        a.ui.button.negative(href='annulation.pug') Annuler la commande


block scripts
    script(src='map.js', async)

